/* Esto es para aplicarle a todo */
body {
  font-family: 'Quicksand';
  background-color: #f5f5f5;
  color: #000;
}

/* Cambia todos los párrafos de la página */
p {
  font-size: 16px;
  text-align: justify;
  margin: 0;
  font-family: 'Quicksand';
}

li {
  list-style: none;
  font-family: 'Quicksand';

}

/* Quita la decoración a todas los links por defecto */
a {
  text-decoration: none;
  color: #000;
  font-family: 'Quicksand';
}

a:hover {
  color: #000;
}

.header,
.header-frente {
  overflow: hidden;
  background-color: #333;
  display: flexbox;
  align-items: center;
  z-index: 80;
  width: 100%;
  top: 0;
  background-color: #000000;
  color: #f5f5f5;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 5rem;
  padding-right: 5rem;
}

.header-frente {
  display: none !important;
  position: fixed !important;
}

.navLogo img {
  height: 2rem;
  width: 5rem;
}

.header__nav-item {
  color: #C4C4C4;
  margin: 0;
  padding-inline: 0.5rem;
  line-height: 40px;
}

.header__nav-item:hover,
.header__nav-item a:hover {
  color: #FFF;
  text-decoration: underline;
}

.header .icon {
  margin: 0;
  display: none;
  color: #FFF;
}

.header .header__right {
  display: inline-flex;
  flex-direction: row-reverse;
  float: right;
}

.login-btn,
.deseos-btn {
  cursor: pointer;
  float: right;
  text-align: center;
  line-height: normal !important;
}

.deseos-btn a {
  color: #C4C4C4;
}

.tooltip-inner {
  background-color: #3d3d3d;
}

.login-btn p,
.deseos-btn p {
  font-size: 12px;
}

.login-btn__desp {
  display: none;
  position: absolute;
  top: 8%;
  left: 70%;
  background: #3d3d3d;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
  float: none;
  color: #f5f5f5;
  z-index: 200;
  border-radius: 6px;
}

.btn {
  background: black;
  color: white;
  border-radius: 2px;
  border-bottom: none;
}

.login-btn__desp a {
  color: #f5f5f5;
  font-size: 14px;
}

.login-btn__desp a:hover {
  color: white;
}

.login-btn:hover>.login-btn__desp {
  display: block;
  z-index: 200;
}

.search {
  float: right;
  width: 200px;
}

.search input {
  background-color: #f5f5f5;
}

.buscar-btn {
  color: #000;
  background-color: #C4C4C4;
}

.buscar-btn:hover {
  background-color: #8D8D8D;
}

/* Cuando el header tenga la clase responsive */
.responsive {
  position: relative;
  top: 0;
  right: 0;
  padding: 1rem;
  display: flexbox;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
  background-color: #000;
  color: #C4C4C4;
}

.responsive .icon {
  color: #FFF;
}

.responsive .header__nav-item {
  display: block;
  text-align: left;
  font-size: 18px;
}

.responsive .header__right {
  padding-top: 0.5rem;
  display: inline-flex;
  flex-direction: row-reverse;
  align-items: center;
  text-align: center;
  float: none;
}

.responsive .login-btn,
.responsive .deseos-btn {
  text-align: center;
}

.responsive .login-btn p,
.responsive .deseos-btn p {
  font-size: 16px;
  padding-inline: 0.4rem;
}

/* Clase para que el header se mantenga arriba */
.sticky {
  position: fixed !important;
}

/* Modifica la barra completa del footer */
.footer {
  padding-top: 2.5em;
  padding-bottom: 2.5em;
  margin-top: 1.5em;
  margin-bottom: 0;
  background-color: #000;
  text-align: center;
  bottom: 0;
}

.footer__col1 {
  text-align: center;
  color: white;
  font-size: 18px;
  padding-top: 1.5rem;
  text-indent: 0;
}

.footer__col1 li {
  padding-bottom: 2rem;
}

/* Modifica los íconos(links) del footer */
.footer__icon {
  border: 2px solid #FFF;
  border-radius: 10px;
  background-color: transparent;
  color: #FFF;
  padding: 8px;
  cursor: pointer;
}

.footer__icon:hover {
  background-color: #FFF;
  color: #000;
}

.index-section-2 {
  margin-top: 2rem;
  margin-left: 4rem;
  margin-right: 4rem;
  margin-bottom: 3rem;
}

/* Grupo que engloba los libros */
.libros {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(13rem, 1fr));
}

/* estilo de las tarjetas */
.libros__tarjeta {
  justify-self: center;
  max-width: 230px;
  max-height: 350px;
  overflow: hidden;
  margin: 10px;
}

.libros__tarjeta:hover {
  z-index: 70;
}

.libros__tarjeta-container {
  position: relative;
  overflow: hidden;
}

/* Estilo de la imagen-portada del libro */
.libros__tarjeta-imagen {
  object-fit: cover;
  height: 250px;
}

.libros__tarjeta-cartel {
  position: absolute;
  top: 0.5rem;
  left: 0rem;
  font-size: 18px;
  background: white;
  padding: 10px;
  border-color: #bbbbbb;
  border-width: 1px;
  border-style: solid;
  border-radius: 0 10px 10px 0;
  transition: all 0.5s;
}

.libros__tarjeta:hover .libros__tarjeta-cartel {
  left: -100%;
}

.libros__tarjeta-blur {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000;
  z-index: 90;
  opacity: 0;
  transition: all 0.5s;
}

.libros__tarjeta:hover .libros__tarjeta-blur {
  opacity: 0.7;
}

.libros__tarjeta-info {
  position: absolute;
  z-index: 100;
  width: 100%;
  height: 100%;
  color: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  transition: all 0.5s;
}

.libros__tarjeta-info h5 {
  padding: 0.5rem;
  font-weight: bold;
}

.libros__tarjeta:hover .libros__tarjeta-info {
  opacity: 1;
}

#link-libro {
  color: #4e4e4e;
}

#link-libro:hover {
  text-decoration: underline;
  color: #000;
}

/* Botón para ir arriba */
#irArriba {
  position: fixed;
  display: none;
  z-index: 95;
  width: 50px;
  height: 50px;
  background: #000;
  bottom: 40px;
  right: 50px;
  text-align: center;
  line-height: 50px;
  color: white;
  font-size: 22px;
  border-radius: 15px;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
}

/* Estilo del iframe del mapa de Google Maps */
#map-google {
  height: 77%;
  width: 85%;
  margin-top: 25px;
}

/* Texto que hace link para recuperar la contraseña */
#link_recuperar {
  font-size: 16px;
}

.contenedorgrande {
  width: 100%;
  height: 450px;
  margin: 0 auto;
  font-family: 'Quicksand';
  text-align: left;

}

  .contenedor {
    width: 52%;
    height: 380px;
    bottom: 0px;
    margin: 0 auto;
    position: relative;
  }


 .contenedor1 {
   position: absolute;
   bottom: 0px;
   width: 200px;
   height: 340px;
   left: 0px;
 }

 .contenedor1:hover {
   transform: translateY(-15px);
 }

.caja {
  width: 200px;
  height: 50px;
  bottom: 0;
  background: #8c9a9b;
  float: left;
  position: absolute;
  border-radius: 5px;
  box-shadow: 5px 5px 5px #aaaaaa;
  font-family: 'Quicksand';
  text-align: center;
  line-height: 13px;
  color: white;
}

.imagen {
  left: 10px;
  top: 12px;
  width: 170px;
  position: absolute;
  box-shadow: 5px 5px 5px #9b9b9b;
}

 .contenedor2 {
   position: absolute;
   text-align: center;
   bottom: 0px;
   width: 210px;
   height: 370px;
   left: 205px;
 }

.contenedor2:hover {
  transform: translateY(-15px);
}

.caja2 {
  width: 200px;
  height: 70px;
  bottom: 0px;
  background: #f1b62a;
  float: left;
  position: absolute;
  border-radius: 5px;
  box-shadow: 5px 5px 5px #aaaaaa;
  font-family: 'Quicksand';
  text-align: center;
  line-height: 30px;
  color: white;
}

.imagen2 {
  width: 190px;
  position: absolute;
  bottom: 90px;
  left: 8px;
  box-shadow: 5px 5px 5px #9b9b9b;
}

.contenedor3 {
  position: absolute;
  bottom: 0px;
  width: 200px;
  height: 330px;
  right: 0px;
}

.contenedor3:hover {
  transform: translateY(-15px);
}

.caja3 {
  width: 200px;
  height: 35px;
  bottom: 0px;
  background: #e88a4a;
  float: left;
  position: absolute;
  border-radius: 5px;
  box-shadow: 5px 5px 5px #aaaaaa;
  font-family: 'Quicksand';
  text-align: center;
  line-height: 1px;
  color: white;
}

.imagen3 {
  width: 160px;
  bottom: 45px;
  right: 20px;
  position: absolute;
  box-shadow: 5px 5px 5px #9b9b9b;
}

@media screen and (max-width: 650px) {
  .contenedorgrande {
    
    height: 300px;
  }

  .contenedor {
    height: 250px;
    width: 350px;
  }

  .contenedor1 {
    height: 230px;
    width: 116px;
    position: absolute;
  }

  .caja {
    width: 110px;
    height: 50px;
    bottom: 0;
  }

  .imagen {
    left: 7px;
    width: 95px;
    position: absolute;
    box-shadow: 5px 5px 5px #9b9b9b;
  }

  .contenedor2 {
    height: 245px;
    width: 118px;
    left: 117px;
    position: absolute;
  }

  .caja2 {
    width: 115px;
    height: 70px;
    bottom: 0px;
    left: 0px;
  }

  .imagen2 {
    width: 105px;
    position: absolute;
    bottom: 90px;
    left: 3px;
    box-shadow: 5px 5px 5px #9b9b9b;
  }

  .contenedor3 {
    position: absolute;
    bottom: 0px;
    width: 111px;
    height: 230px;
    right: 0px;
  }

  .caja3 {
    width: 110px;
    height: 35px;
    bottom: 0px;
    right: 0px;
  }

  .imagen3 {
    width: 90px;
    bottom: 60px;
    right: 7px;
    position: absolute;
    box-shadow: 5px 5px 5px #9b9b9b;
  }
}

@media screen and (max-width: 650px) {

  /* Genera una margen externa para todas las secciones */
  .margen-general {
    margin-left: 1.2rem;
    margin-right: 1.2rem;
    margin-bottom: 2rem;
    margin-top: 1rem;
  }

  /* Márgenes del form de contacto */
  #contacto {
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
  }

  /* Espaciado entre opciones */
  #contacto input {
    margin-bottom: 1rem;
  }

  /* Márgenes del registro/login para la tarjeta */
  .margenes-login {
    text-align: center;
    margin-right: 2em;
    margin-left: 2em;
    margin-top: 2em;
    margin-bottom: 2em;
    font-size: 20px;
  }

  /* Márgenes del mensaje emergente del contacto */
  #mensaje_emergente {
    text-align: center;
    font-size: 18px;
    margin-top: 2rem;
    margin-left: 2em;
    margin-right: 2em;
  }

  /* Titulo "Te podría interesar..." */
  #libros_titulo {
    margin: 1rem;
  }
}


@media screen and (min-width: 650px) {

  /* Genera una margen externa para todas las secciones */
  .margen-general {
    margin-left: 3rem;
    margin-right: 3rem;
    margin-bottom: 3rem;
    margin-top: 1rem;
  }

  /* Márgenes del form de contacto */
  #contacto {
    margin-left: 5rem;
    margin-right: 5rem;
    margin-bottom: 2rem;
  }

  /* Espaciado entre opciones */
  #contacto input {
    margin-bottom: 1rem;
  }

  /* Márgenes del registro/login para la tarjeta */
  .margenes-login {
    text-align: center;
    margin-right: 6em;
    margin-left: 6em;
    margin-top: 2em;
    margin-bottom: 3em;
    font-size: 20px;
  }

  /* Márgenes del mensaje emergente del contacto */
  #mensaje_emergente {
    text-align: center;
    font-size: 18px;
    margin-left: 6em;
    margin-right: 6em;
  }

  /* Titulo "Te podría interesar..." */
  #libros_titulo {
    margin: 1rem;
  }
}


@media screen and (min-width: 900px) {

  /* Genera una margen externa para todas las secciones */
  .margen-general {
    margin-left: 6rem;
    margin-right: 6rem;
    margin-bottom: 4rem;
    margin-top: 1.5rem;
  }

  /* Márgenes del form de contacto */
  #contacto {
    margin-left: 12rem;
    margin-right: 12rem;
    margin-bottom: 2rem;
  }

  /* Márgenes del registro/login para la tarjeta */
  .margenes-login {
    text-align: center;
    margin-right: 10em;
    margin-left: 10em;
    margin-top: 3em;
    margin-bottom: 5em;
    font-size: 20px;
  }

  /* Márgenes del mensaje emergente del contacto */
  #mensaje_emergente {
    text-align: center;
    font-size: 18px;
    margin-left: 12em;
    margin-right: 12em;
  }

  /* Titulo "Te podría interesar..." */
  #libros_titulo {
    margin: 1.5rem;
  }
}


@media screen and (min-width: 1150px) {

  /* Genera una margen externa para todas las secciones */
  .margen-general {
    margin-left: 6rem;
    margin-right: 6rem;
    margin-bottom: 4rem;
    margin-top: 2rem;
  }

  /* Márgenes del form de contacto */
  #contacto {
    margin-left: 12rem;
    margin-right: 12rem;
    margin-bottom: 2rem;
  }

  /* Márgenes del registro/login para la tarjeta */
  .margenes-login {
    text-align: center;
    margin-right: 16em;
    margin-left: 16em;
    margin-top: 3em;
    margin-bottom: 5em;
    font-size: 20px;
  }

  /* Márgenes del mensaje emergente del contacto */
  #mensaje_emergente {
    text-align: center;
    font-size: 18px;
    margin-left: 20em;
    margin-right: 20em;
  }

  /* Titulo "Te podría interesar..." */
  #libros_titulo {
    margin: 2rem;
  }
}

/* Media query para hacer el menú responsive */
@media screen and (max-width: 900px) {

  .header {
    padding-inline: 1rem;
  }

  .header .header__nav-item:not(:first-child) {
    display: none;
  }

  .header .icon {
    float: left;
    display: block;
  }

  .header .search {
    width: fit-content;
  }
}