body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #bfbfbf;
    color: black;
    font-size: 1.2rem;
    line-height: 1.2em;
}
.header {
    background-color:rgb(255, 0, 0);
    color: white;
}
#margenes_login {
  text-align: center;
  margin-right: 10em;
  margin-left: 10em;
  margin-top: 2em;
}

#centrado {
  background-color: #fafafa;
  margin: 1rem;
  padding: 1rem;
  border: 2px solid #ccc;
  /* IMPORTANTE */
  text-align: center;
}

.alinear-center {
margin-left: auto;
margin-right: auto;
}
