body{
  text-align: center !important;
  text-decoration: none;

}
#margenes{
  margin-left: 28em;
  margin-right: 28em;
  margin-top: 3em;
}
#tarjeta{
  padding: 3em;
  background-color: lightgrey;
  text-align: center;
}
#texto_tarjeta{
  font-size: 24px;
}
